#sticky-footer {
    flex-shrink: none;
  }
  .navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.navbar-brand {
  
  font-size: 2.0rem;
  font-weight: 600;
}
.navback{
  background-color: #a5ceb1;
  border-color: none;
}
.badge-primary {
  color: #fff;
  background-color: #91d0a3 !important;
}
.handcursor{
  cursor: pointer;
 
}
.bloglink{
  cursor: pointer;
  color: #296f3d  !important;
}
.navbar {
  
  padding: 0rem 0rem !important;
}
.sticky-offset {
  top: 56px;
}


