<!-- <nav class="navbar navbar-expand-lg navbar-light navback mb-5">
  <a class="navbar-brand" href="#">M-Tutorial</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
     
    </ul>
   
  </div>
  
</nav>

<div class="container-fluid gedf-wrapper  ">
    <div class="row ">
      <div class="col-md-3 order-sm-1 order-2 ">

          <div class="card gedf-card" data-spy="affix" data-offset-top="10" >
              <div class="card-body">
                <h5 class="card-title">Tutorial Category</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center handcursor"  (click)="Maincategory(0)" >
                        All Category
                        <span class="badge badge-primary badge-pill">{{allcount}}</span>
                      </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center handcursor" *ngFor="let cat of Category" (click)="Maincategory(cat.catid)" >
                    {{cat.name}}
                    <span class="badge badge-primary badge-pill">{{cat.categorycount}}</span>
                  </li>
                 
                </ul>
              </div>
            </div>

       
      </div> 
      <div class="col-md-7 col-sm-12 order-1 gedf-main">
  
        
        
          <router-outlet></router-outlet>
        
  
  
       
  
  
        
        
  
  
      </div>
      <div class="col-md-2 order-3 order-md-2"  >
        
       <div class="card gedf-card" >
            <div class="card-body">
               
                <button type="button" *ngIf="loginbtn" class="btn btn-danger btn-block" (click)="socialSignIn('google')"><i class="fa fa-google"></i> Sign in with Google</button>
                <button type="button" *ngIf="loginbtn" class="btn btn-primary btn-block" (click)="socialSignIn('facebook')"><i class="fa fa-facebook"></i> Sign in with Facebook</button>
                <button type="button" *ngIf="logoutbtn" class="btn btn-danger btn-block" (click)="logout()">logout</button>
            </div>
          </div> 
      </div>
    </div>
  </div>





<footer id="sticky-footer" class="py-4 navback text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; M-Tutorial</small>
  </div>
</footer> -->


<!-- new template -->


<nav class="navbar navbar-expand-lg navbar-light   navback ">
    <!-- <button class="btn btn-primary" id="menu-toggle" >Toggle Menu</button> -->
  <a class="navbar-brand pl15" href="#">M-Tutorial</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      
    </ul>
   
  </div>
 
</nav>

<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>SimpleCRM</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/accounts'"> Accounts </a>
        <a mat-button [routerLink]="'/create-account'"> Create Account </a>
        <a mat-button [routerLink]="'/contacts'"> Contacts </a>
        <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-button [routerLink]="'/activities'"> Activities </a>
        <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>
  
      </div>
    </mat-toolbar-row>
  
  
  </mat-toolbar> -->

<!-- <div class="container-fluid gedf-wrapper  ">
    <div class="row "> -->
        
     
          <router-outlet></router-outlet>
        
  
  
       
  
  
        
        
  
  
     


    <!-- </div>
  </div> -->




<!-- <router-outlet></router-outlet> -->
<footer id="sticky-footer" class="py-4 navback text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; M-Tutorial</small> <a style="color:white;" href="https://www.mtutorial.com/privacy-and-cookies-policy">   Privacy and Cookies Policy</a>
  </div>
</footer>

