<!-- <div class="col-md-3 order-sm-1 order-2 "> -->
<div id="treeview10" class="treeview">
    <ul class="list-group fixed-posi"  >
        <li class="list-group-item node-treeview10" data-nodeid="0" style="color:undefined;background-color:undefined;">
            <span class="icon expand-icon glyphicon glyphicon-plus"></span><span class="icon node-icon"></span><a
                 routerLink="/angular-data-binding-and-template-syntax"   style="color:inherit;">Angular data binding example</a></li>
        <li class="list-group-item node-treeview10" data-nodeid="5" style="color:undefined;background-color:undefined;">
            <span class="icon glyphicon"></span><span class="icon node-icon"></span><a href="#parent2"
                style="color:inherit;">Parent 2</a></li>
        <li class="list-group-item node-treeview10" data-nodeid="6" style="color:undefined;background-color:undefined;">
            <span class="icon glyphicon"></span><span class="icon node-icon"></span><a href="#parent3"
                style="color:inherit;">Parent 3</a></li>
        <li class="list-group-item node-treeview10" data-nodeid="7" style="color:undefined;background-color:undefined;">
            <span class="icon glyphicon"></span><span class="icon node-icon"></span><a href="#parent4"
                style="color:inherit;">Parent 4</a></li>
        <li class="list-group-item node-treeview10" data-nodeid="8" style="color:undefined;background-color:undefined;">
            <span class="icon glyphicon"></span><span class="icon node-icon"></span><a href="#parent5"
                style="color:inherit;">Parent 5</a></li>
    </ul>
</div>
<!-- </div>  -->