pre{
    background-color: #f0f3f1 !important;
    padding: 10px;
    border-left: 4px solid #6b5;
    box-shadow: 6px 3px 8px #d4d4d4;
}
.navback{
    background-color: #a5ceb1;
    border-color: white;
  }
  img {
	max-width:100%;
	height:auto!important;
}
.bloglink{
  cursor: pointer;
  color: #296f3d  !important;
}
textarea {

  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}

#sticky-footer {
  flex-shrink: none;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}
.navbar-brand {

font-size: 2.25rem;
font-weight: 800;
}
.navback{
background-color: #a5ceb1;
border-color: none;
}
.badge-primary {
color: #fff;
background-color: #91d0a3 !important;
}
.handcursor{
cursor: pointer;

}
.bloglink{
cursor: pointer;
color: #296f3d  !important;
}
.badge {
  
  font-size: 100% !important;
  font-weight: 500 !important;
  
}



