 <!--- \\\\\\\Post-->
 <div class="card gedf-card ">
          
		<div class="card-body" *ngFor="let blog of pageOfItems">
		  <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> 10 min ago</div>
		  <!-- <a class="card-link" [routerLink]="['/blog', blog.name,blog.blogid, blog.blog_keywords]" > -->
			<a class="card-link navback handcursor" (click)="Mainrouting(blog.blogid,blog.blog_keywords,blog.blog_header,blog.blog_headerdesc)" >
			  
			<h5 class="card-title"> {{blog.blog_header}}</h5>
			
		  </a>

		  <p class="card-text">
			{{blog.blog_headerdesc}}
		  </p>
		  <div>
			<span class="badge badge-primary navback">{{blog.blog_keywords}}</span>
			<span class="badge badge-primary navback">Android</span>
			<span class="badge badge-primary navback">PHP</span>
			<span class="badge badge-primary navback">Node.js</span>
			<span class="badge badge-primary navback">Ruby</span>
			<span class="badge badge-primary navback">Paython</span>
		  </div>
		</div>
		<!-- <div class="card-footer">
		  <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
		  <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
		  <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
		</div> -->
	  </div>
	  <div class="card-footer pb-0 pt-3">
			<jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
		</div>
	  <!-- Post /////-->