 <!--- \\\\\\\Post-->
 <div class="card gedf-card ">
          
		<div class="card-body" *ngFor="let blog of pagedItems">
		  <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{ blog.created_date | date}}</div>
		  <!-- <a class="card-link" [routerLink]="['/blog', blog.name,blog.blogid, blog.blog_keywords]" > -->
			<a class="card-link navback handcursor" (click)="Mainrouting(blog.blogid,blog.blog_keywords,blog.blog_header,blog.blog_headerdesc)" >
			  
			<h5 class="card-title"> {{blog.blog_header}}</h5>
			
		  </a>

		  <p class="card-text">
			{{blog.blog_headerdesc}}
		  </p>
		  <div>
				<!-- <span *ngFor="let keywords of keyword" class="badge badge-primary navback ml-2">{{keywords}}</span> -->
			<!-- <span class="badge badge-primary navback">{{blog.blog_keywords}}</span>
			<span class="badge badge-primary navback">Android</span>
			<span class="badge badge-primary navback">PHP</span>
			<span class="badge badge-primary navback">Node.js</span>
			<span class="badge badge-primary navback">Ruby</span>
			<span class="badge badge-primary navback">Paython</span> -->
		  </div>
		</div>
		<!-- <div class="card-footer">
		  <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
		  <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
		  <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
		</div> -->
	  </div>
	  <div class="card-footer pb-0 pt-3">
		
			<!-- pager -->
			
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li class="btn btn-info mrleft" (click)="setPage(1)" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a  >First</a>
                </li>
                <li class="btn btn-info mrleft" (click)="setPage(pager.currentPage - 1)" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a  >Previous</a>
                </li>
                <li class="btn btn-info mrleft" (click)="setPage(page)"  *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a  >{{page}}</a>
                </li>
                <li class="btn btn-info mrleft" (click)="setPage(pager.currentPage + 1)" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a  >Next</a>
                </li>
                <li class="btn btn-info mrleft" (click)="setPage(pager.totalPages)" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a  >Last</a>
                </li>
            </ul>
		
		</div>
	  <!-- Post /////-->