.handcursor{
    cursor: pointer;
    color: #296f3d  !important;
}
.page-link{
    cursor: pointer !important;
}
.page-item.active .page-link
{
    cursor: pointer !important;
    background-color: #296f3d !important;
}
.navback{
    background-color: #a5ceb1;
    border-color: white;
  }
  .mrleft{
      margin-left: 10px;
      background-color: #6ead80 ;
      cursor: pointer !important;
  }
  
  .active
  {
    background-color: #96a89f !important;
  }
  .frm{
  
    width: 98.5% !important;
  }
  input[name="dynmicUserIds"] {
    
    width: 100%;
  }
 
