
	<div class="container-fluid gedf-wrapper mttop  ">
			<div class="row ">	 
			<div class="col-md-3 order-sm-1 order-2 ">
					<router-outlet></router-outlet>
				 </div>
			 
	
		   
		
		  <div class="col-md-7 col-sm-12 order-1 gedf-main">
 <div class="card gedf-card ">
		
			  
		<span id="spnauto">
		<input type="text" (keyup)="getUserIdsFirstWay($event)" autocomplete="off" name="dynmicUserIds" class="form-control frm  m-2  " placeholder="Search (Min 3 character)" id="userIdFirstWay" list="dynmicUserIds" />
		 <ul class="list-group" id="ulautocomplete">
			<li *ngFor="let item of autoCompletArr" [routerLink]="'/' + item.blog_keywords" class="list-group-item"> <a  class="card-link  handcursor"  >{{item.blog_header}}</a></li>
			
		  </ul> 

		<!-- <datalist id="dynmicUserIds" name="dynmicUserIds" >
		  <option  *ngFor="let item of autoCompletArr" [routerLink]="'/' + item.blog_keywords" >{{item.blog_header}}</option> 
		  <a *ngFor="let item of autoCompletArr" class="card-link navback handcursor" [routerLink]="'/' + item.blog_keywords" >{{item.blog_keywords}}</a> 
		</datalist>  -->
	</span>

		<div class="card-body" *ngFor="let blog of pagedItems">
		  <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{ blog.created_date | date}}</div>
		  <!-- <a class="card-link" [routerLink]="['/blog', blog.name,blog.blogid, blog.blog_keywords]" > -->
			<!-- <a class="card-link navback handcursor" (click)="Mainrouting(blog.blogid,blog.blog_keywords,blog.blog_header,blog.blog_headerdesc)" > -->
					<a class="card-link navback handcursor" [routerLink]="'/' + blog.blog_keywords"  >
				
			<h5 class="card-title"> {{blog.blog_header}}</h5>
			
		  </a>

		  <p class="card-text">
			{{blog.blog_headerdesc}}
		  </p>
		  <div>
				<!-- <span *ngFor="let keywords of keyword" class="badge badge-primary navback ml-2">{{keywords}}</span> -->
			<!-- <span class="badge badge-primary navback">{{blog.blog_keywords}}</span>
			<span class="badge badge-primary navback">Android</span>
			<span class="badge badge-primary navback">PHP</span>
			<span class="badge badge-primary navback">Node.js</span>
			<span class="badge badge-primary navback">Ruby</span>
			<span class="badge badge-primary navback">Paython</span> -->
		  </div>
		</div>
		<!-- <div class="card-footer">
		  <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
		  <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
		  <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
		</div> -->
	  </div>
	  <div class="card-footer pb-0 pt-3">
		
			<!-- pager -->
			
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li class="btn btn-info mrleft" (click)="setPage(1)" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a  ><<</a>
                </li>
                <li class="btn btn-info mrleft" (click)="setPage(pager.currentPage - 1)" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a  ><</a>
                </li>
                <li class="btn btn-info mrleft" (click)="setPage(page)"  *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a  >{{page}}</a>
                </li>
                <li class="btn btn-info mrleft" (click)="setPage(pager.currentPage + 1)" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a  >></a>
                </li>
                <li class="btn btn-info mrleft" (click)="setPage(pager.totalPages)" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a  >>></a>
                </li>
            </ul>
		
		</div>

	</div>
	<div class="col-md-2 order-3 order-md-2"  >
	  
	 <div class="card gedf-card sticky-top sticky-offset" >
		  <div class="card-body">
			  <!-- <button type="button"  class="btn btn-danger btn-lg btn-block">Google Login</button>
			  <div class="g-signin2" data-onsuccess="onSignIn"></div>
			  <button (click)="socialSignIn('facebook')">Sign in with Facebook</button> -->
			  <button type="button" *ngIf="loginbtn" class="btn btn-danger btn-block" (click)="socialSignIn('google')"><i class="fa fa-google"></i> Sign in with Google</button>
			  <button type="button" *ngIf="loginbtn" class="btn btn-primary btn-block" (click)="socialSignIn('facebook')"><i class="fa fa-facebook"></i> Sign in with Facebook</button>
			  <button type="button" *ngIf="logoutbtn" class="btn btn-danger btn-block" (click)="logout()">logout</button>
		  </div>
		</div> 
	</div>
	  <!-- Post /////-->

	</div>
</div>