/* You can add global styles to this file, and also import other style files */
@import '~@ngx-share/button/themes/default/default-theme';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
pre{
    
    padding: 10px;
    border-left: 4px solid #6b5;
    box-shadow: 6px 3px 8px #d4d4d4;
    background-color: white;
  }
  img {
    max-width:100%;
    height:auto!important;
  }
  .html5-video-container {
    position: relative !important;
    padding-bottom: 56.25% !important;
    padding-top: 30px !important; height: 0 !important; overflow: hidden !important;
    }
    
    .html5-video-container iframe,
    .html5-video-container object,
    .html5-video-container embed {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    }
    @media (min-width: 768px) {
      .fixed-posi {
        
        min-height:100%;
          position:fixed;
      }
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.badge-primary {
  color: #fff;
  background-color:#a5ceb1  !important;
}
.handcursor{
  cursor: pointer;
 
}
/* .info{
  background-color: #dbeadf !important;
    border-radius: 20px;
    padding: 15px;
} */

/* blockquote */
blockquote {
  min-height: 5em;
  padding   : 1em 4em;
  font      : 1em/150% sans-serif;
  position  : relative;
  background-color: #f5fbe9;
}

blockquote::before,
blockquote::after {
  position: absolute;
  height  : 3rem;
  font    : 4rem/100% Georgia, "Times New Roman", Times, serif;
}

blockquote::before {
  content: '“';
  top    : 0.3rem;
  left   : 0.9rem;
}

blockquote::after {
  content: '”';
  bottom : 0.3rem;
  right  : 0.8rem;
}

blockquote:lang(fr)::before {
  content: '«';
  top    : -1.5rem;
  left   : 0.5rem;
}

blockquote:lang(fr)::after {
  content: '»';
  bottom : 2.6rem;
  right  : 0.5rem
}

blockquote i {
  display   : block;
  font-size : 0.8em;
  margin-top: 1rem;
  text-style: italic;
  text-align: right;
}
/* blockquote end */
.codebox {
  padding: 8px 10px;
  margin: 24px 0px;
  box-shadow: none!important;
  background-color: #f1f1f1;
}
.info{
  border-radius: 20px;
    padding: 15px;
    border: 5px solid rgba(9, 51, 27, 0.125);
}
/* b, strong {
  font-weight: 500 !important;
} */

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #a5ceb1;
  border-radius: 3px 0 0 3px;
  color: #000;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #a5ceb1;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #a5ceb1;
  color: white;
}

.tag:hover::after {
   border-left-color: #a5ceb1; 
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
/* side nav bar */
#sidebar-wrapper {
  min-height: 100%;
  /* margin-left: -15rem; */
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  /* width: 15rem; */
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    /* margin-left: -15rem; */
  }
}
