/* You can add global styles to this file, and also import other style files */
@import '~@ngx-share/button/themes/default/default-theme';
pre{
    /* background-color: #f0f3f1 !important; */
    padding: 10px;
    border-left: 4px solid #6b5;
    box-shadow: 6px 3px 8px #d4d4d4;
  }
  img {
    max-width:100%;
    height:auto!important;
  }
  .html5-video-container {
    position: relative !important;
    padding-bottom: 56.25% !important;
    padding-top: 30px !important; height: 0 !important; overflow: hidden !important;
    }
    
    .html5-video-container iframe,
    .html5-video-container object,
    .html5-video-container embed {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    }
    @media (min-width: 768px) {
      .fixed-posi {
        
        min-height:100%;
          position:fixed;
      }
  }